
.container{
    display:flex;
    flex-wrap: wrap;
    width:80vw;
}

.row {
    display:flex;
    flex-direction:row;
    min-width: 100%;
    min-height: 33%;
}

.rectangle {
    display: flex;
    width: 30%;
    height: 100%;
    background-color:gray;
    border: 1px solid lightgray;
    text-align: center;
}

.long {
    width:45%;
}

.box {
    height:100%;
    width: 33%;
    background-color: salmon;
    border: 1px solid lightgray;
    align-items:center;
    justify-content: center;
}


#scoreDialogue{
    font-size: 16px;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#playerScoreBoard, #computerScoreBoard {
    font-size: 42px;
    color:whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}