
.container{
    display:flex;
    flex-wrap: wrap;
    height:800px;
}

.row {
    display:flex;
    flex-direction:row;
    min-width: 100%;
    min-height: 33%;
}

.rectangle {
    display: flex;
    width: 33.3%;
    height: 100%;
    background-color:whitesmoke;
    border: 1px solid lightgray;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.long {
    width:50%;
}

.box {
    height:100%;
    width: 33%;
    align-items:center;
    justify-content: center;
    background-color:whitesmoke;
}


#scoreDialogue{
    font-size: 40px;
    color: grey;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#scoreAnnouncement{
    font-size:120px;
    font-weight: bolder;
    color: #ec0088;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#playerScoreBoard, #computerScoreBoard {
    font-size: 120px;
    color:grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}