.container {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
button {
    min-width: 200px;
    height: 50px;
    margin: auto;
    border: 2px solid orangered;

}